{% extends "base.html" %}
{% load static %}

{% block title %}Estudiantes - Universidad{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estudiantes.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">

<h1>Estudiantes</h1>

<p>
Consulta los estudiantes registrados en el sistema académico.
</p>

</section>


<section class="estudiantes-grid">

{% for e in estudiantes %}

<div class="estudiante-card">

<div class="avatar">

<img src="{% static 'img/user.png' %}" alt="usuario">

</div>

<h3>{{ e.apellido }}, {{ e.nombre }}</h3>

<div class="meta">
{{ e.codigo }} {% if e.email %} · {{ e.email }} {% endif %}
</div>

<a href="{% url 'estudiante_detalle' e.pk %}">
Ver perfil
</a>

</div>

{% empty %}

<p>No hay estudiantes registrados.</p>

{% endfor %}

</section>

{% endblock %}